
/* 메인컨테이너 */
.main_container {
    width: 1400px;
    margin: 0 auto;
    border-collapse: collapse;
}
/* 이벤트배너 */
#event {
    margin-top: 20px;
    width: 100vw;
    height: 470px;
    display: flex;
    position: relative;
}
#event img {
	width: 100vw;
    height: 470px;
} 

/* 메인 */
main {
    width: 1400px;
    height: 1400px;
    
}
main a:hover{
    color:rgb(252, 117, 7);
}
    /* 전체웹툰top5 */
    /* 메인레이어1 */
    .top5-layer1 {
    	margin-top: 70px;
        width: 1400px;
        height: 30px;
        float: left;
    }
    .top5-left, .top5-right {
   		font-weight: 600;
        font-size: 1.4em;
    }
    .top5-left {
        float: left;
    }
    .top5-right {
        float: right;
    }
    
    
    /* 메인레이어2 */
    .top5-layer2 {
        width: 1400px;
        justify-content: space-between;
        display: flex; /* Flex 컨테이너로 설정 */
    	justify-content: space-between; /* 자식 요소 간의 간격을 동일하게 배치 */
    	align-items: center;
    }
    .top5-toon {
        --box-sizing: border-box;
        margin-top: 20px;
        width: 250px;
        float: left;
        height: 320px;
        text-align: center;
        flex:1;
        margin-right:30px;
    }
    .top5-layer2 .top5-toon:last-child {
        margin-right:0;
    }
    
            .top5-Cover {
				width: 250px;
                height: 270px;
            }
            .top5-Cover img {
                width: 100%;
                height: 100%;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
            .top5-info {
				width: 280px;
                height: 50px;
            }
                .top5-info-rank{
                    width: 20%;
                    height: 100%;
                    text-align: left;
                    float: left;
                }
                .top5-info-rank p {
                    position: relative;
                    bottom: 10px;
                    font-size: 3em;
                    font-weight: 600;
                }

                .top5-info-title{
                    text-align: left;
                    width: 80%;
                    height: 60%;
                    font-size: 1.3em;
                    font-weight: 600;
                    float: left;
                }
                .top5-info-writer {
                    position: relative;
                    text-align: left;
                    bottom: 5PX;
                    width: 80%;
                    height: 40%;
                    float: left;
                }







