<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AskMapper">
	<resultMap type="Ask" id="askResultMap">
		<id 	column="ASK_NO" 	  	property="askNo"/>
		<result column="ASK_CATEGORY" 	property="askCategory"/>
		<result column="ASK_SUBJECT"  	property="askSubject"/>
		<result column="ASK_CONTENT"  	property="askContent"/>
		<result column="ASK_WRITER"   	property="askWriter"/>
		<result column="ASK_DATE" 	  	property="askDate"/>
		<result column="ASK_UPDATE" 	property="askUpdate"/>
		<result column="ASK_FILENAME" 	property="askFileName"/>
		<result column="ASK_FILERENAME" property="askFileRename"/>
		<result column="ASK_FILEPATH" 	property="askFilePath"/>
		<result column="ASK_FILELENGTH" property="askFileLength"/>
		
	</resultMap>
	
	<insert id="insertAsk">
		INSERT INTO ASK_TBL VALUES (SEQ_ASKNO.NEXTVAL, #{askCategory}, #{askSubject}, #{askContent}, #{askWriter}, DEFAULT, DEFAULT, #{askFileName}, #{askFileRename}, #{askFilePath}, #{askFileLength})
	</insert>
	
	<update id="updateAsk">
		UPDATE ASK_TBL SET ASK_CATEGORY = #{askCategory}, ASK_SUBJECT = #{askSubject}, ASK_CONTENT = #{askContent}, ASK_UPDATE = DEFAULT, ASK_FILENAME = #{askFileName}, ASK_FILERENAME = #{askFileRename}, ASK_FILEPATH = #{askFilePath}, ASK_FILELENGTH = #{askFileLength} WHERE ASK_NO = #{askNo} 
	</update>
	
	<delete id="deleteAsk">
		DELETE FROM ASK_TBL WHERE ASK_NO = #{askNo}
	</delete>
	
	<select id="selecAskByNo" resultMap="askResultMap">
		SELECT * FROM ASK_TBL WHERE ASK_NO = #{askNo}
	</select>
	
	<select id="selectAskList" resultMap="askResultMap">
		SELECT * FROM ASK_TBL ORDER BY ASK_NO DESC
	</select>
	
	<select id="selectAskListByKeyword" resultMap="askResultMap">
		SELECT * FROM ASK_TBL
		<if test="searchCondition == 'all'">
			WHERE ASK_CATEGORY LIKE '%'||#{searchKeyword}||'%' OR ASK_SUBJECT LIKE '%'||#{searchKeyword}||'%' OR ASK_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'category'">
			WHERE ASK_CATEGORY LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'title'">
			WHERE ASK_SUBJECT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'content'">
			WHERE ASK_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
	</select>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM ASK_TBL
	</select>
	
	<select id="selectSearchListCount" resultType="_int">
		SELECT COUNT(*) FROM ASK_TBL
		<if test="searchCondition == 'all'">
			WHERE ASK_CATEGORY LIKE '%'||#{searchKeyword}||'%' OR ASK_SUBJECT LIKE '%'||#{searchKeyword}||'%' OR ASK_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'category'">
			WHERE ASK_CATEGORY LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'title'">
			WHERE ASK_SUBJECT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'content'">
			WHERE ASK_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
	</select>
	
	
	
</mapper>