<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FnqMapper">
	<resultMap type="Fnq" id="fnqResultMap">
		<id 	column="FNQ_NO" 	  property="fnqNo"/>
		<result column="FNQ_CATEGORY" property="fnqCategory"/>
		<result column="FNQ_SUBJECT"  property="fnqSubject"/>
		<result column="FNQ_CONTENT"  property="fnqContent"/>
		<result column="FNQ_WRITER"   property="fnqWriter"/>
		<result column="FNQ_DATE" 	  property="fnqDate"/>
	</resultMap>
	
	<insert id="insertFnq">
		INSERT INTO FNQ_TBL VALUES(SEQ_FNQNO.NEXTVAL, #{fnqCategory}, #{fnqSubject}, #{fnqContent}, 'admin', DEFAULT)
	</insert>
	
	<update id="updateFnq">
		UPDATE FNQ_TBL SET FNQ_CATEGORY = #{fnqCategory }, FNQ_SUBJECT = #{fnqSubject }, FNQ_CONTENT = #{fnqContent } WHERE FNQ_NO = #{fnqNo} 
	</update><delete id="deleteFnq">
		DELETE FROM FNQ_TBL WHERE FNQ_NO = #{fnqNo}
	</delete><select id="selectFnqList" resultMap="fnqResultMap">
		SELECT * FROM FNQ_TBL ORDER BY FNQ_NO DESC
	</select>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM FNQ_TBL
	</select>
	
	<select id="selectFnqByNo" resultMap="fnqResultMap">
		SELECT * FROM FNQ_TBL WHERE FNQ_NO = #{fnqNo}
	</select>
	
	
	
	
</mapper>