<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FnqMapper">
	<resultMap type="Fnq" id="fnqResultMap">
		<id 	column="FNQ_NO" 	  	property="fnqNo"/>
		<result column="FNQ_CATEGORY" 	property="fnqCategory"/>
		<result column="FNQ_SUBJECT"  	property="fnqSubject"/>
		<result column="FNQ_CONTENT"  	property="fnqContent"/>
		<result column="FNQ_WRITER"   	property="fnqWriter"/>
		<result column="FNQ_DATE" 	  	property="fnqDate"/>
		<result column="FNQ_UPDATE"		property="fnqUpdate" />
		<result column="FNQ_FILENAME"   property="fnqFileName"/>
		<result column="FNQ_FILERENAME" property="fnqFileRename"/>
		<result column="FNQ_FILEPATH"   property="fnqFilePath"/>
		<result column="FNQ_FILELENGTH" property="fnqFileLength"/>
	</resultMap>
	
	<insert id="insertFnq">
		INSERT INTO FNQ_TBL VALUES(SEQ_FNQNO.NEXTVAL, #{fnqCategory}, #{fnqSubject}, #{fnqContent}, 'admin', DEFAULT, DEFAULT, #{fnqFileName}, #{fnqFileRename}, #{fnqFilePath}, #{fnqFileLength})
	</insert>
	
	<update id="updateFnq">
		UPDATE FNQ_TBL SET FNQ_CATEGORY = #{fnqCategory }, FNQ_SUBJECT = #{fnqSubject }, FNQ_CONTENT = #{fnqContent }, FNQ_UPDATE = DEFAULT, FNQ_FILENAME = #{fnqFileName}, FNQ_FILERENAME = #{fnqFileRename}, FNQ_FILEPATH = #{fnqFilePath}, FNQ_FILELENGTH = #{fnqFileLength} WHERE FNQ_NO = #{fnqNo}
	</update>
	
	<delete id="deleteFnq">
		DELETE FROM FNQ_TBL WHERE FNQ_NO = #{fnqNo}
	</delete>
	
	<select id="selectFnqByNo" resultMap="fnqResultMap">
		SELECT * FROM FNQ_TBL WHERE FNQ_NO = #{fnqNo}
	</select>
	
	<select id="selectFnqList" resultMap="fnqResultMap">
		SELECT * FROM FNQ_TBL ORDER BY FNQ_NO DESC
	</select>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM FNQ_TBL
	</select>
	
	<select id="selectSearchListCount" resultType="_int">
		SELECT COUNT(*) FROM FNQ_TBL
		<if test="searchCondition == 'all'">
			WHERE FNQ_CATEGORY LIKE '%'||#{searchKeyword}||'%' OR FNQ_SUBJECT LIKE '%'||#{searchKeyword}||'%' OR FNQ_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'category'">
			WHERE FNQ_CATEGORY LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'title'">
			WHERE FNQ_SUBJECT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'content'">
			WHERE FNQ_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
	</select>
	
	<select id="selectFnqListByKeyword" resultMap="fnqResultMap">
		SELECT * FROM FNQ_TBL
		<if test="searchCondition == 'all'">
			WHERE FNQ_CATEGORY LIKE '%'||#{searchKeyword}||'%' OR FNQ_SUBJECT LIKE '%'||#{searchKeyword}||'%' OR FNQ_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'category'">
			WHERE FNQ_CATEGORY LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'title'">
			WHERE FNQ_SUBJECT LIKE '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchCondition == 'content'">
			WHERE FNQ_CONTENT LIKE '%'||#{searchKeyword}||'%'
		</if>
	</select>
	
	
</mapper>