<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WebtoonMapper">
	<resultMap type="Webtoon" id="webtoonResultMap">
		<id 	property="webtoonNo" 	  column="WEBTOON_NO" />
		<result property="webtoonTitle"   column="WEBTOON_TITLE"/>
		<result property="webtoonWriter"  column="WEBTOON_WRITER"/>
		<result property="webtoonPainter" column="WEBTOON_PAINTER"/>
		<result property="webtoonGenre"   column="WEBTOON_GENRE"/>
		<result property="wCoverName"     column="W_COVER_NAME"/>
		<result property="wCoverRename"   column="W_COVER_RENAME"/>
		<result property="wCoverPath"     column="W_COVER_PATH"/>
		<result property="wLentPrice" 	  column="W_LENT_PRICE"/>
		<result property="wBuyPrice" 	  column="W_BUY_PRICE"/>
		<result property="wOpenDate" 	  column="W_OPEN_DATE"/>
		<result property="wUpdateDate"    column="W_UPDATE_DATE"/>
		<result property="wEndYn" 		  column="W_END_YN"/>
		<result property="wViewCount" 	  column="W_VIEW_COUNT"/>
	</resultMap>

	<insert id="insertWebtoon">
		INSERT INTO WEBTOON_TBL VALUES (SEQ_WEBTOON_NO.NEXTVAL, #{webtoonTitle}, #{webtoonWriter}, #{webtoonPainter}, #{webtoonGenre}, #{wCoverName}, #{wCoverRename}, #{wCoverPath}, #{wLentPrice}, #{wBuyPrice}, #{wOpenDate}, DEFAULT, DEFAULT, #{wViewCount})
	</insert>
	
	<update id="updateWebtoon">
		UPDATE WEBTOON_TBL SET WEBTOON_TITLE = #{webtoonTitle}, WEBTOON_WRITER = #{webtoonWriter}, WEBTOON_PAINTER = #{webtoonPainter}, WEBTOON_GENRE = #{webtoonGenre}, W_COVER_NAME = #{wCoverName}, W_COVER_RENAME = #{wCoverRename}, W_COVER_PATH = #{wCoverPath}, W_LENT_PRICE = #{wLentPrice}, W_BUY_PRICE = #{wBuyPrice}, W_OPEN_DATE = #{wOpenDate}, W_END_YN = #{wEndYn} WHERE WEBTOON_NO = #{webtoonNo}
	</update>
	
	<select id="selectListByViewCount" resultMap="webtoonResultMap">
		SELECT * FROM WEBTOON_TBL ORDER BY W_VIEW_COUNT DESC
	</select>
	
	<select id="selectListByNewOpen" resultMap="webtoonResultMap">
		SELECT * FROM WEBTOON_TBL WHERE W_OPEN_DATE >= '23/09/01' ORDER BY W_VIEW_COUNT DESC
	</select>
	
	<select id="selectListByEnd" resultMap="webtoonResultMap">
		SELECT * FROM WEBTOON_TBL WHERE W_END_YN = 'Y' ORDER BY W_VIEW_COUNT DESC
	</select>
	
	<select id="selectAllList" resultMap="webtoonResultMap">
		SELECT * FROM WEBTOON_TBL ORDER BY WEBTOON_NO DESC
	</select>
	
	<select id="selectOneByNo" resultMap="webtoonResultMap">
		SELECT * FROM WEBTOON_TBL WHERE WEBTOON_NO = #{webtoonNo}
	</select>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM WEBTOON_TBL
	</select>
</mapper>