
a:link, a:visited {
    color: black;
    text-decoration: none;
}

main {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}

/* 오른쪽구역 */
#rightSection{
    width: 700px;
    height: 600px;
/*     display: flex; */
/*     flex-direction: column; */
}
    /* 위쪽 */
    #topArea {
      margin-top: 10px;
      width: 700px;
      height: 200px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
    }
    	label {
    		float : left;
    		width : 100px;
    	}
    	#info {
    		padding : 10px;
    		width : 300px;
    		font-size: large;
    		font-weight: bold;
    		line-height: 30px;
    	}
    	#topArea h1 {
    		text-align: center;
    		font-size: xx-large;
    		font-weight: 600;
    		color: rgb(252, 117, 7);
    	}

    /* 아래쪽 */
    #bottomArea {
        margin-top: 70px;
        width: 700px;
        height: 200px;
        text-align: center;
        justify-content: center;
		
    }
    #bottomArea button {
 		margin: 0 10px;
 		border: none;
 		background: none;
 		padding: 10px;
 		border-radius: 5px;
	    background-color: rgb(252, 117, 7);
	    color: white;
	    font-size: large;
	    font-weight: bolder;
	}
	
	#bottomArea button:hover {
		background-color: rgb(231, 51, 6);
	}

