
a:link, a:visited {
    color: black;
    text-decoration: none;
}

main {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}

/* 오른쪽구역 */
main #rightSection{
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
}
    /* 위쪽 */
    main #topArea {
        margin-top: 30px;
        width: 700px;
        height: 100px;
        border: 1px solid black;
        display: inline-flex;
        align-items: center;
    }
    main #userAccount, #userCandy {
        width: 50%;
        font-size: 1.2em;
        font-weight: 600;
        display: inline-flex;
        align-items: center;
    }
        main #userAccount img {
            width: 70px;
            padding: 10px;
        }
        main #candy {
            width: 250px;
            height: 100%;
            display: flex;
            
        }
        main #userAccount p {
            padding: 10px;
        }

        main #userCandy img {
            width: 100px;
            padding: 10px;
        }
        main #have {
            color: rgb(236, 112, 11);
            margin-left: 20px;
        }

    /* 아래쪽 */
    main #bottomArea {
        margin-top: 40px;
        width: 700px;
        height: 200px;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
    }

    main #bottomArea ul{
        width: 100%;
        list-style-type: none;
        display: flex;
        align-items: center;
    }

    main #bottomArea li {
        display: flex;
        flex: 1;
        justify-content: center;
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
    }
    main .count {
        color: rgb(252, 117, 7);
        font-size: 1.8em;
        font-weight: 600;
        text-align: center;
    }



