
a:link, a:visited {
    color: black;
    text-decoration: none;
}

/* 메인 */
main {
    width: 900px;
    height: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
h1{
    color : rgb(252, 117, 7);
    font-size: 2.5em;
}

/* 공지등록 form */
#form {
    padding-top: 50px;
    width: 900px;
    height: 600px;
    margin-bottom: 20px;
    font-size: 13px;
}

#formLeft {
	width:500px;
}

#formRight {
	width:400px;
} 

#formLeft, #formRight {
	height:100%;
	float:left;
}

ul {
	list-style-type: none;
	margin-left : 0	
}

#form li {
	width: 480px;
	margin : 10px;
	float:left;
}

ul label {
	width : 200px;
	text-align: left;
	float:left;
	
}

#formRight img {
	width: 300px;
}

#formBtn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(252, 117, 7);
    font-weight: 600;
    font-size: 1.5em;
    width: 170px;
    height: 60px;
}

#formBtn a:link, #formBtn a:visited {
    color: white;
}
    
    /*
    #formBtn:focus {
        background-color: rgb(252, 117, 7);
        color: white;
    }
    #formBtn:hover {
        background-color: rgb(252, 117, 7);
        color: white;
    }
	*/
